
    html{
    font-family: Arial, Helvetica, sans-serif;
    }
    body{
        margin:0;
        
        
    }
    #header {
        
        margin:0;
        background-color:whitesmoke;
        height:70px;
        padding: 10px;

        
    }
    li.header{
        
        display:inline;
        padding-left:10px;
        padding-right:10px;
        
        font-size: 2em;
        color:darkslategray;
    }
    li a{
        color:darkslategray;
        text-decoration:none;
    }
    li a:hover{
       background-color: darkslategray;
        color:white;
    }
    
    #body{
        text-align:center;
        
        background-color:whitesmoke;
        width:100%;

        color:darkslategray;
        
    }
    #image{
        
        background-color:whitesmoke;
        background-image: url("photos/cover.jpg");
        background-position:center -200px;
        height: 400px;
        width:100%;
        background-repeat:no-repeat;
        filter: blur(1px);
    }
    .dot{
        height: 25px;
  width: 25px;
  background-color: darkslategray;
  border-radius: 50%;
  display: inline-block;
    }
    
    #paragraph{
        margin-left:10%;
        margin-right:10%;
    }
    a {
        color:black;
    } 
